html {
  background-image: url('/assets/images/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  background-color: unset;

  .header,
  .masonry .widget,
  .widget-content:not(.widget-content-frameless),
  .widget-content-frame {
    background: transparent;
    border: none;
    box-shadow: none;
    backdrop-filter: none;

    .expand-toggle-button {
      background-color: transparent;
    }
  }

  .widget {
    background-color: #00000060;
    backdrop-filter: blur(10px);
    padding-block: 12px;
    border-radius: var(--border-radius);
  }
}
